.productcategory {
  display: flex;
  box-shadow: 0 4px 6px 0 rgb(208, 209, 211);
  padding: 20px 30px 40px;
  margin: 10px;
  justify-content: center;
  width: 240px;
  height: auto;
}
/* @media(max-width:1560px){
  .productcategory{
    width: 200px;
  }
} */
.productimageClass img {
  height: 150px;
  width: 150px;
  flex: 1;
}
.productimageClass img:hover{
  transform: scale(1.05);
}
.productcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.productheading {
  font-weight: bold;
  font-size: x-large;
}
.productdescription {
  font-size: large;
  margin: 10px;
  text-align: center;
}
.productexploreButton {
  background-color: #d62a63;
  color:#fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px;
  margin: auto;
}
.productexploreButton:hover {
  background-color: rgb(116, 24, 24);
}
.productpriceCard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
