.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: aliceblue;
  height: 7%;
  width: 100%;
}
.footerContent {
  display: flex;
  align-items: center;
  justify-content: center;
 
}
